<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>utf-8</charset>
            <pattern>%highlight(%d{yyyy-MM-dd HH:mm:ss.SSS} [%t][%X{logId}] %-5level %logger{50} - %msg%n)</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="stdout"/>
    </root>

    <root level="DEBUG">
        <appender-ref ref="stdout"/>
    </root>
    <logger name="org.springframework" level="OFF"> </logger>
    <logger name="com.zaxxer" level="OFF"> </logger>
    <logger name="org.hibernate" level="OFF"> </logger>
    <logger name="sun.rmi" level="OFF"> </logger>
    <logger name="javax.management" level="OFF"> </logger>

</configuration>
